@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	font-family: 'Ubuntu', sans-serif;
}

#show-gpa{
	color: #27ae60;
}

.main-area{
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: linear-gradient(125deg, #34495e 0%, #bdc3c7 100%) !important;
	width: 100%;
	color: white;
}

.white-link{
	color: white;
	text-decoration: underline;
}

.div-spacing{
	margin-top: 30px;
}

.full-width-btn{
	width: 100%;
	margin-bottom: 0px;
}

.left-btn{
	padding-left: 0px;
}

.right-btn{
	padding-right: 0px;
}

.bottom-spacing{
	padding-bottom: 30px;
}

.spacing{
	padding: 20px;
	width: 100%;
}

.active{
	display: block;
}

.inactive{
	display: none;
}

.transparent-button{
	background-color: Transparent;
	border: 0.5px solid white;
	outline: none;
}

.transparent-button:focus{
	background-color: Transparent;
	border: 0.5px solid white;
	outline: none;
	color: white;
}

.transparent-button:hover{
	color: #d9534f;
	background-color: white;
	border: 0.5px solid white;
	outline: none;
}

.gpa-display{
	border: solid #27ae60;
	border-radius: 4px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.no-outline{
	outline: none;
}


/* FOOTER */
#footer {
	color: #999;
	font-size: 0.75em;
	margin-top: 10px;
	text-align: center;
}

#footer .heart {
	color: #f95959;
}

#web-link{
	color: #f95959;
}
