body {
  padding-top: 70px;
  padding-bottom: 20px;
}

#show-gpa{
	color: #27ae60;
}

/* FOOTER */
#footer {
	color: #999;
	font-size: 0.75em;
	margin-top: 10px;
	text-align: center;
}

#footer .heart {
	color: #f95959;
}

#web-link{
	color: #f95959;
}
